
<div class=" bg-white dark:bg-gray-800 ">
    <nav class="2xl:container 2xl:mx-auto sm:py-6 sm:px-7 py-5 px-4">
        <!-- For large and Medium-sized Screen -->
        <div class="flex justify-between "> 
            <div class="hidden sm:flex flex-row items-center space-x-6">
          
            </div>
            <div class=" flex space-x-3 items-center">
                <h1 class=" font-normal text-2xl leading-6 text-gray-800  " >Heliverse Frontend Assignment Angular</h1>
            </div>
            <div class="hidden sm:flex flex-row space-x-4">
            </div>


        </div>


    </nav>    
</div>

