/* Adjust the width of the container to accommodate three cards in a row */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  p-card {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px; /* Add some space between rows */
  }

  @media (max-width: 767px) {
    .card-container {
        justify-content: center; /* Center cards on small screens */
    }

    p-card {
        width: calc(100% - 10px); /* Display one card per row */
    }

}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}
nz-alert {
  margin-bottom: 16px;
}
.filters {
  margin-top: 10px;
}

/* Adjust styles for smaller screens */
@media (max-width: 576px) {
  .col-md-3 {
    margin-bottom: 10px;
  }
}